@import 'variables/colours';

.w-timepicker{
    text-align: center;
    z-index: 10052;
}
@media(max-width: 767px){
    .w-timepicker{
        width: 31.5em !important;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .w-timepicker{
        width: 20.5em !important;
    }
}
@media(min-width: 992px){
    .w-timepicker{
        width: 15.5em !important;
    }
}
.preenchido{
    color: $black !important;
}
.continue{
    color: $green-mat !important;
}
.nav-tabs .nav-link {
    background-color: $gray-slight !important;
    color: $login-gray;
    border-color: $white;
    z-index: 1051;
    &:hover{
        border-color: $black;
    }
    &.active{
       border-color: $black;
       z-index: 1052;
    }
}
