@import 'variables/colours';
@import 'mixin/m_transition';

#return-to-top {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    @include transition(all 0.3s ease);

    i {
        color: $white;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        margin-left: 13px;
        margin-top: 13px;
        font-size: 23px;
        @include transition(all 0.3s ease);
    }
    &:hover {
        background: rgba(0, 0, 0, 0.9);
        i{
            color: $white;
            top: 5px;
        }
    }

}