$secondary-gray: #6c757d;
$blue-mat: #4285F4;
$green-mat: #26a69a;

$white: #fff;
$black: #000;
$ice: #f3f3f3;
$gray: #333;

$darken-gray: #383838;
$ligt-gray: #888;
$gray-slight: #ccc;
$login-gray: #4e5159;
$gray-six: #666666;
$gray-nine: #999;

$timeline-yellow: #b9b900;
$timeline-red: #ea3c3c;
$timeline-purple: #5d52f1;
$timeline-purple-intense: #7600a5;
$timeline-green: #00a500;
$timeline-yellow-intense: #a56c00;

$red-csec: #c90e21;
$red-csec-slight: #f6303c;
$red-csec-intense: #b50510;
$red-soft-slight: #b1b6c7;
$red-navbar: #ce1e1f;
$red-winde-darken: #250902;
$red-wine: #980820;
$red-wine-soft: #631f1f;
$red-wine-soft-two: #640120;
$red-pink: #B00923;
$red-pink-soft: #dccfd5;

$blue-navy-soft: #2c3b41;
$blue-navy-soft-two: #374850;
$blue-green-soft: #8aa4af;
$blue-link-soft: #3c8dbc;

$bs-callout-danger: #dFb5b4;
$bs-callout-warning: #f1e7bc;
$bs-callout-info: #d0e3f0;

$yellow-sand: #9c6f28;

$alert-error-border: #ffbdb4;
$alert-error-color: #f92424;
$alert-error-bg: #ffd9d4;

$alert-success-border: #50bf8c;
$alert-success-color: #14772b;
$alert-success-bg: #c9f7db;

$alert-info-border: #92d4e4;
$alert-info-color: #437cd8;
$alert-info-bg: #bbe8f3;

$alert-warning-border: #fbd394;
$alert-warning-color: #ad8433;
$alert-warning-bg: #ffe6be;

$green-bagde: #029630;

$btn-blue: #204d74;
$btn-green: #398439;
$btn-info: #269abc;
$btn-warning: #d58512;
$btn-danger: #ac2925;

$red-text-danger: #a94442;
$red-required: #DD4B39;